:root {
  --bs-primary: #450045 !important;
}

body {
  overflow-x: hidden;
}

.bg-primary {
  background-color: var(--bs-primary) !important;
}

.btn-primary {
  color: #450045;
  background-color: #4500452c;
  border-color: var(--bs-primary);
  width: 100%;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  color: #fff;
  background-color: #450045;
  border-color: #450045;
}

.navbar {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.section-title {
  border-color: #a9a9a9;
  background-color: #4500452c;
  color: #450045;
  font-size: 1.5rem;
  padding: 1rem 1rem;
}

.bg-chess {
  background-color: #ffffff;
  background-image: linear-gradient(
      45deg,
      rgba(69, 0, 69, 0.02) 25%,
      transparent 25%
    ),
    linear-gradient(135deg, rgba(69, 0, 69, 0.02) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, rgba(69, 0, 69, 0.02) 75%),
    linear-gradient(135deg, transparent 75%, rgba(69, 0, 69, 0.02) 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

#section-network .card-img-top {
  height: 128px;
  max-height: 100%;
  object-fit: contain;
}

.accordion-header img {
  width: 30px; /* Header ikonunun genişliği */
  height: auto; /* Yüksekliği orantılı olarak ayarla */
  margin-right: 10px; /* İkon ve başlık arasında boşluk */
}

.accordion-button {
  padding: 0.75rem 1.25rem;
  color: #450045;
}

.accordion-button:not(.collapsed) {
  border-color: #a9a9a9;
  background-color: #45004514;
  color: #450045;
}

.accordion-button:focus {
  box-shadow: 0 0 0 0.25rem #4500452b;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%450045'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.icon {
  width: 96px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.icon-bg {
  border-color: #a9a9a9;
  background-color: #45004514;
  color: #450045;
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-group {
  flex: 1;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #fff;
  background-color: #450045;
  border-color: #450045;
}

.tab-content {
  border-color: #450045;
  background-color: #45004514;
  color: #450045;
}

.nav-link {
  color: #450045;
}

.nav-link:focus,
.nav-link:hover {
  color: #450045;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  background-color: #45004514;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: #450045;
}

.targeting-options {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.illustration img {
  max-width: 100%;
  height: auto;
}

.feature-section {
  padding: 2rem 0;
}

.main-section {
  padding: 4rem 0;
}

.main-section p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.illustration img {
  max-width: 100%;
  height: auto;
}

.feature-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.feature-card h5 {
  font-size: 1.2em;
  margin-bottom: 15px;
}

.checklist {
  list-style: none;
  padding-left: 0;
}

.checklist li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.checklist li::before {
  content: "✔️";
  margin-right: 10px;
  color: #450045;
}

.icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.2em;
  margin-top: 20px;
  color: #6c757d;
}

.icon-text img {
  max-width: 50px;
  margin-bottom: 10px;
}

.icon-text strong {
  font-size: 1.4em;
}

.content-section {
  margin-bottom: 50px;
}

.tvbreadcrumb-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.tvbreadcrumb-item {
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  background-color: #f8f9fa;
  position: relative;
  width: 200px;
  margin-right: 50px;
}

.tvbreadcrumb-item:not(:last-child)::after {
  content: "\2303"; /* Sağ ok simgesi */
  font-size: 24px;
  position: absolute;
  top: 50%;
  right: -40px;
  transform: translateY(-50%) rotate(90deg);
  z-index: 2;
}

.tvbreadcrumb-item h5 {
  font-weight: bold;
}

.tvbreadcrumb-item img {
  width: 50px;
  height: auto;
  margin-bottom: 10px;
}

.ad-format {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 30px;
}

.ad-format h5 {
  font-weight: bold;
}

.ad-format img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.ad-format p {
  margin-top: 10px;
}

.desktop-frame {
  width: 900px;
  height: 500px;
  border: 16px solid black;
  border-radius: 36px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

.device-frame {
  width: 352px;
  height: 600px;
  border: 16px solid black;
  border-radius: 36px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

.device-screen {
  width: 100%;
  height: 100%;
  background-color: white;
}

.description {
  padding: 20px;
}

h2,
h3 {
  font-weight: bold;
}

.offcanvas-body {
  padding-left: 0;
  padding-right: 0;
}

.modal-body {
  padding: 0;
}

.navbar-nav-scroll {
  max-height: unset;
}

.offcanvas-end {
  top: 0;
  right: 0;
  width: auto !important;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
}

.offcanvas-end-desktop {
  top: 0;
  right: 0;
  width: 972px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
}
